
/* BREADCRUMB CONTAINER & BREADCRUMB */

#infobar {
	background-image:url(../images/breadcrumbBG.png);
	background-color:#FFF;
	background-repeat:repeat-x;
	height:55px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:lowercase;
	clear:both;
	margin: 0 auto;

}
#infobar a:link {
	color:#FFF;
	text-decoration:none;
}

#infobar a:hover {
	color:#EEDBD7;

}
#infobar a:focus {
	color:#EEDBD7;

}
#infobar a:active {
	color:#FFF;

}
#infobar a:visited {
	color:#FFF;
}
.breadcrumb {
	float:left;
}
#breadcrumbBox {
	color: #FFF;
	padding: 17px 0 0 0;
	width:890px;
	clear:both;
	margin: 0 auto;
	
}
#user-login {
	margin:35px 0 35px 0;
}

