body {
	margin: 0;
}

.idreBtn {
	padding : .2em 1.2em;
	font-size : .8em;
	font-family: Arial, Helvetica, sans-serif;
	color : #ffffff !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #93341f;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background : #c05446;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c05446), color-stop(100%, #93341f));
	background : -moz-linear-gradient(top, #c05446 0%, #93341f 100%);
	background : -webkit-linear-gradient(top, #c05446 0%, #93341f 100%);
	background : -o-linear-gradient(top, #c05446 0%, #93341f 100%);
	background : -ms-linear-gradient(top, #c05446 0%, #93341f 100%);
	background : linear-gradient(top, #768bba 0%, #93341f 100%);
 	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#c05446', endColorstr='#93341f', GradientType=0 );
}
.idreBtn:hover {
	border: solid 1px #93341f;
	text-decoration: none;
	background : #93341f;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #93341f), color-stop(100%, #93341f));
	background : -moz-linear-gradient(top, #93341f 0%, #93341f 100%);
	background : -webkit-linear-gradient(top, #93341f 0%, #93341f 100%);
	background : -o-linear-gradient(top, #93341f 0%, #93341f 100%);
	background : -ms-linear-gradient(top, #93341f 0%, #93341f 100%);
	background : linear-gradient(top, #93341f 0%, #93341f 100%);
 	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#93341f', endColorstr='#93341f', GradientType=0 );
}
.idreBtn:active {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	border: solid 1px #93341f;
	background : #93341f;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #93341f), color-stop(100%, #93341f));
	background : -moz-linear-gradient(top, #93341f 0%, #93341f 100%);
	background : -webkit-linear-gradient(top, #93341f 0%, #93341f 100%);
	background : -o-linear-gradient(top, #93341f 0%, #93341f 100%);
	background : -ms-linear-gradient(top, #93341f 0%, #93341f 100%);
	background : linear-gradient(top, #93341f 0%, #93341f 100%);
	 filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#93341f', endColorstr='#93341f', GradientType=0 );
}
.btnContainer {
	margin: .5em 0;
}
.btnLabel {
	font-size : .8em;
	font-family: Arial, Helvetica, sans-serif;
	display:inline-block;
	margin-right:.8em;
	margin-top:.2em;
	color:#555;
}
#bodyContainer blockquote {
	margin: 1em 5em 1em 5em;
}
#bodyContainer pre {
	font-size: 1.2em;
	font-family: monospace;
}
#bodyContainer ul {
	font-size: 100% !important;
	font-family: Arial, Helvetica, sans-serif;
}
#bodyContainer li {
	font-family: Arial, Helvetica, sans-serif;
 	font-size:.8rem;
}
#bodyContainer code {
	font-size: 1em;
	padding-left: .4em;
	padding-right: .3em;
	font-family: monospace;
	font-weight: bold;
}
#bodyContainer p code {
	font-size: 1.2em;
	padding-left: .4em;
	padding-right: .3em;
	font-family: monospace;
	font-weight: bold;
}
#bodyContainer {
	font-family: Arial, Helvetica, sans-serif;
	width: 890px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
}
#bodyContainer p {
	font-size: .8em;
	line-height: 1.2em;
	margin: 0 0 10px 0;
}
#bodyContainer ol {
	list-style: decimal outside;
	list-style-type: decimal;
	float: none;
	margin: 2em 0 2em 30px;
	padding: 0;
}
#bodyContainer ul {
	margin: 2em 0 2em 30px;
	padding: 0;
}
#bodyContainer a:link {
	color: #6E2817;
}
#bodyContainer a:hover {
	color: #6E2817;
}
#bodyContainer a:visited {
	color: #3E4E70;
}
#bodyContainer a:focus {
	color: #6E2817;
}
#bodyContainer a:active {
	color: #3E4E70;
}
#bodyContainer UL li, #bodyContainer ol li {
	line-height: 1.5em;
	padding: 0;
}
#bodyContainer h1 {
	font-family: "Oswald", Arial;
	font-size: 1.5em;
	font-weight: normal;
	margin: 0 0 15px 0;
	line-height: 1.5em;
	letter-spacing: 0.06em;
	word-spacing: .1em;
	font-weight: normal;
}
#bodyContainer h2 {
	font-family: "Oswald", Arial;
	font-size: 1.3em;
	font-weight: normal !important;
	margin: 1.5em 0 .5em 0;
	line-height: 1.85em;
	letter-spacing: 0.05em;
	word-spacing: .1em;
	font-weight: normal;
}
#bodyContainer h3 {
	font-family: Arial;
	font-size: 1.25em;
	margin: 1.2em 0 .5em 0;
	line-height: 1.35em;
	color: #555;
	font-weight: normal;
}
#bodyContainer h4 {
	font-family: Arial;
	font-size: 1.15em;
	margin: 1.2em 0 .5em 0;
	line-height: 1.25em;
	color: #555;
	font-weight: normal;
}
#bodyContainer h5 {
	font-family: Arial;
	font-size: 1.05em;
	margin: 1.2em 0 .5em 0;
	line-height: 1.15em;
	color: #555;
	font-weight: normal;
}
#bodyContainer h6 {
	font-family: Arial;
	font-size: 1em;
	margin: 1.2em 0 .5em 0;
	line-height: 1.1em;
	color: #555;
	font-weight: normal;
}
/* table styles */
#bodyContainer table {
	border-collapse: collapse;
	border-spacing: 0;
}
#bodyContainer .views-table, #bodyContainer table {
	margin-left: 2px;
	margin-bottom: 10px;
	width: 600px;
	font-size: .75em !important;
}
#bodyContainer tr {
	line-height: 2em;
	border-bottom: #9e9e9e thin solid;
}
#bodyContainer tr:last-child {
	line-height: 2em;
}
#bodyContainer th {
	margin: 5px 0 5px 0;
	padding: 0 5px 0 5px;
	border-right: #9e9e9e thin solid;
	text-align: left;
	border-bottom: #9e9e9e thin solid;
}
#bodyContainer th:last-child {
	margin: 5px 0 5px 0;
	padding: 0 5px 0 5px;
	border-right: #9e9e9e thin solid;
	text-align: left;
}
#bodyContainer th:first-child {
	margin: 5px 0 5px 0;
	padding: 0 5px 0 5px;
	border: #9e9e9e thin solid;
}
#bodyContainer tbody tr {
	line-height: 2em;
	border-left: #9e9e9e thin solid;
}
#bodyContainer tbody tr:nth-child(odd) {
	line-height: 2em;
	background-color: #efefef;
}
#bodyContainer td {
	padding: 0 5px 0 5px;
	border-right: #9e9e9e thin solid;
}
#bodyContainer td:last-child {
	padding: 0 5px 0 5px;
}
#bodyContainer DL {
	margin: .3em 0 .3em 0;
}
#bodyContainer DT {
	margin: .3em 0 .3em 0;
}
#bodyContainer DD {
	line-height: 1.5em;
	list-style: none;
	margin: .7em 0 .7em 2em;
}
td.active {
	background-color: transparent!important;
}
#bodyContainer tr:last-child {
	border-bottom: #9e9e9e thin solid;
}
#bodyContainer tr:first-child {
	border-top: #9e9e9e thin solid;
}
#bodyContainer th:last-child {
	border-left: #9e9e9e thin solid;
}
#bodyContainer th:last-child {
	border-right: #9e9e9e thin solid;
}
/* specific body styles */

#bodyContainer blockquote {
	margin: 1em 5em 1em 5em;
 .nobr {
 white-space: nowrap;
}
/* idre drupal editor styles - please leave */
.highlightFix {
	background-color: #00F;
	color: #FFF;
	display: inline;
}
.imgLeft {
	float: left;
	padding: 1.5em 15px 1.5em 0;
}
.imgRight {
	float: right;
	padding: 1.5em 0 1.5em 15px;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.imgCaption {
	clear: left;
	background: #FFF;
	color: #7c7c7c !important;
	position: relative;
	top: -21px;
}
