@charset "utf-8";
/* CSS Document */


#header {
	width:960px;
	height:61px;
	font-size:100%;
	margin: 0 auto;
	margin-top:25px;
	margin-bottom:9px;
}
.page_h1 {
	overflow: hidden;
	text-indent: -10000px;
	font-size: 0px;
	line-height: 0px;
}
#logo {
	float:left;
}
.logoSprite {
	background-image:url(../images/logo.png);

}
a.logoSprite {
	display: block;
	width: 475px;
	height:61px;
	overflow: hidden;
	text-indent: -10000px;
	font-size: 0px;
	line-height: 0px;
	margin-left:35px;
}

/* SEARCH FORM */

.searchLabel {
	display:none;
}

#searchBox {
	padding:0;
	float:right;
	width:35%;
}
#searchBox .idreBtn {
float:right;	
}
#search-block-form input[type='image'] {
	vertical-align:top;
	width:auto;
	position:relative;
	left:-6px;
	top:2px;
	border:#000 thin solid;
}

/* BREADCRUMB CONTAINER & BREADCRUMB */

#infobar {
	background-image:url(../images/breadcrumbBG.png);
	background-color:#FFF;
	background-repeat:repeat-x;
	height:55px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:lowercase;
	clear:both;
	margin: 0 auto;
}
#infobar a:link {
	color:#FFF;
	text-decoration:none;
}
#infobar a:visited, a:hover, a:focus, a:active  {
	text-decoration:none;
}
.breadcrumb {
	float:left;
}
#breadcrumbBox {
	color: #FFF;
	padding: 17px 0 0 0;
	width:890px;
	clear:both;
	margin: 0 auto;
	font-size:.8em;
}
#user-login {
	margin:35px 0 35px 0;
}